/* MODAL */
/* Background effect. It covers the entire site */
.modal {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0,
      0,
      0,
      0.7);
  /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 20;
  /* Overlay effect: positioned over other containers */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  position: fixed;
  /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto;
  /* Enable scroll if needed */
  padding-top: 80px;
  /* Location of the content container */
}

/* Modal content */
.modal-content {
  position: relative;
  background-color: white;
  width: 100%;
  /* Width in proportion to its parent container*/
  max-width: 940px;
  /* Max width where it stops expanding */
  height: 70%;
  /* Height in proportion to its parent container */
  margin: auto;
  /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  /* Optional. Rounds container corners */
}

/* Close button */
.close {
  color: black;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 30px;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

h5 {
  margin: 5px 0;
}

:not(:defined)>* {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}
